body {
    margin: 0;
    overflow: hidden;
    background: #050505;
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    cursor: grab;
    outline: none;
}

.grabbing {
    cursor: grabbing !important;
}

#ui {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #00ffff;
    pointer-events: none;
    z-index: 100;
    text-align: right;
}

#inventory {
    position: absolute;
    right: 30px;
    top: 180px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    pointer-events: auto;
    z-index: 100;
}

.slot {
    width: 80px;
    height: 80px;
    background: rgba(40, 40, 40, 0.4);
    border: 2px solid #555;
    border-radius: 4px;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    backdrop-filter: blur(5px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slot:hover {
    border-color: #00ffff;
    background: rgba(0, 255, 255, 0.1);
    transform: translateX(-5px);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
}

#ethereal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: 0.6s;
    opacity: 0;
    z-index: 10;
    background: rgba(20, 2, 139, 0.2);
}

.active-ethereal {
    opacity: 1 !important;
}
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #080808;
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #00ffff;
    transition: 1s ease-in-out;
}

.loader-content {
    text-align: center;
    width: 300px;
}

#loader-bar-container {
    width: 100%;
    height: 4px;
    background: rgba(0, 255, 255, 0.1);
    border-radius: 2px;
    margin: 15px 0;
    overflow: hidden;
}

#loader-bar {
    width: 0%;
    height: 100%;
    background: #00ffff;
    box-shadow: 0 0 10px #00ffff;
    transition: 0.2s;
}

#loader-text {
    font-size: 14px;
    letter-spacing: 2px;
    opacity: 0.7;
}

.loading-finished {
    opacity: 0;
    pointer-events: none;
}
